<div class="d-flex align-items-center justify-content-center" >
    <h1>Hello World</h1>
</div>

<body>
  <div class="container">
    <%= link_to "Show Tasks", tasks_path %>
    <%= render partial: "shared/aboutCard"%>
  </div>
</body>